// Your custom styles
@import './pages/home.scss';
@import './pages/allCourses.scss';
@import './pages/backend.scss';
@import './pages/backendtwo.scss';
@import './pages/enter.scss';
@import './pages/video.scss';
@import './pages/allnews.scss';
@import './font/font.scss';


* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;

}


body {

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #182339;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #195EC8;
    }



}

button.btn,
.btn {
    box-shadow: none;
    background: #195EC8 0% 0% no-repeat padding-box !important;
    font-size: 12px !important;

}