// Your custom styles
@import './pages/home.scss';
@import './pages/allCourses.scss';
@import './pages/backend.scss';
@import './pages/backendtwo.scss';
@import './pages/enter.scss';
@import './pages/video.scss';


* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;

}


body {

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #182339;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #195EC8;
    }



}