%anim {
    transition: all 0.2s linear;
}

@mixin mQ($arg) {
    @media screen and (max-width:$arg) {
        @content;
    }
}

.video-page {

    .header-section {

        width: 100%;

        background-color: rgb(28, 35, 49);



        .header-main {
            padding-top: 120px;
            color: white;




            @media screen and (max-width:992px) {
                padding-top: 100px;
            }

            @media screen and (max-width:768px) {
                padding-top: 100px;
            }

            .inner-box-top {


                .header {

                    .person-top {


                        .under-box {
                            display: flex;

                            p {
                                margin: 0;
                                padding: 0;
                                font-size: 14px;
                            }

                            ul {
                                font-size: 14px;
                                padding: 0;
                                // margin: 0;
                                margin-left: 30px;
                                text-decoration: underline;
                            }

                        }
                    }

                    .left-box {


                        height: 500px;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        height: 500px;
                        overflow: auto;

                        /* width */
                        &::-webkit-scrollbar {
                            width: 10px;
                        }

                        /* Track */
                        &::-webkit-scrollbar-track {
                            background: #182339;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            background: #195EC8;
                        }




                        .inner-box {



                            .inner-item {
                                position: absolute;
                                display: none;
                                left: 0;
                                top: 0;
                                width: 100%;



                                color: white;

                                video {
                                    width: 100%;
                                    height: auto;
                                }

                                .ex-box,
                                .ans-box {
                                    position: absolute;

                                    left: 0;
                                    top: 0;
                                    width: 100%;


                                }

                                .ex-box {
                                    color: white;
                                    background-color: rgb(13, 46, 61);

                                    .item-box {
                                        display: flex;
                                        justify-content: space-between;

                                        @media screen and (max-width:768px) {
                                            flex-direction: column;
                                        }

                                        img {
                                            width: 49%;
                                            height: auto;

                                            @media screen and (max-width:768px) {
                                                width: 100%;
                                                margin-bottom: 10px;
                                            }

                                        }
                                    }

                                    .ans-data-box {
                                        background-color: rgb(25, 57, 71);

                                        textarea {
                                            background-color: rgb(59, 87, 98);
                                            color: white;
                                            width: 100%;
                                            border: none;
                                            outline: none;
                                            padding: 10px;
                                        }

                                        .files-wrap {
                                            display: flex;
                                            justify-content: space-between;

                                            div {
                                                display: flex;

                                                i {
                                                    margin-right: 10px;
                                                }

                                                p {
                                                    padding: 0;
                                                    margin: 0;
                                                    line-height: 100%;
                                                }
                                            }
                                        }

                                        .input-group {

                                            width: 100%;
                                            overflow: hidden;
                                            border-radius: 20px;
                                            background-color: rgb(37, 67, 80);
                                            display: flex;
                                            justify-content: space-between;

                                            input[type='submit'] {
                                                background-color: #195EC8;
                                                padding: 0 20px;
                                                border-radius: 20px;
                                                border: none;
                                                outline: none;
                                                color: white;
                                                font-size: 14px;
                                                font-weight: bolder;
                                            }

                                            input[type='file'] {
                                                background-color: transparent;
                                                border: none;
                                                width: 80%;
                                                color: white;
                                            }
                                        }
                                    }

                                    .under-footer {
                                        display: flex;
                                        justify-content: space-between;

                                        p {
                                            padding: 0;
                                            margin: 0;
                                            color: white;
                                        }

                                        i {
                                            color: red;
                                        }
                                    }
                                }

                                .ans-box {
                                    display: none;
                                    color: white;
                                    background-color: green;
                                }
                            }
                        }
                    }

                    .right-box {
                        height: 500px;
                        overflow: auto;

                        .inner-box {

                            .acc-wrap {

                                background-color: rgb(25, 57, 71);

                                .top-box {
                                    &:hover {
                                        cursor: pointer;
                                    }

                                    width: 100%;

                                    padding: 10px;

                                    font-weight: bolder;


                                }


                                .acc-inner-top-box {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    align-content: center;

                                    p {
                                        padding: 0;
                                        margin: 0;
                                        font-size: 12px;
                                        font-weight: bold;
                                        width: 70%;
                                        color: rgb(209, 206, 206);

                                    }
                                }

                                .acc-top-box {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    align-content: center;
                                    background-color: rgb(13, 46, 61);

                                    span {
                                        background-color: red;

                                        width: 30px;
                                        border-radius: 50%;
                                        height: 30px;
                                        background-color: white;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        align-content: center;
                                        color: #002333;
                                        font-weight: bold;
                                    }

                                    p {
                                        width: 70%;
                                        padding: 0;
                                        margin: 0;
                                    }

                                    i {
                                        margin-right: 10px;
                                    }
                                }

                                .acc-top-under-box {
                                    border-left: 3px solid #195EC8;
                                }

                                .under-box {
                                    padding-bottom: 2.5px;
                                    display: none;
                                    padding-left: 15px;
                                    box-sizing: border-box;





                                    ul {
                                        list-style-type: none;

                                        li {
                                            font-size: 12px;
                                            padding-left: 15px;
                                            padding-bottom: 5px;
                                            color: rgb(216, 212, 212);
                                            display: flex;

                                            &:hover {
                                                cursor: pointer;
                                            }

                                            p {
                                                padding: 0;
                                                margin: 0;
                                            }

                                            i {
                                                margin-right: 10px;
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }




        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331 !important;
            }
        }



        .navbar {
            z-index: 4;

            box-shadow: none;

            .nav-link {
                font-size: 14px;
            }

            .navbar-brand {
                img {
                    width: 120px;
                    height: auto;

                    @include mQ(992px) {
                        width: 90px;
                    }
                }
            }

            .search-box {


                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                padding: 5px 0;

                @include mQ(992px) {
                    margin-top: 20px;
                    padding: 10px 0;
                }



                form {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;



                    width: 100%;

                    i {
                        color: white;
                        margin-right: 10px;
                    }

                    input {

                        background-color: transparent !important;
                        color: white;
                        border: none;
                        outline: none;
                        width: 220px;
                        font-size: 14px;

                        &::placeholder {
                            color: white;
                            font-weight: 300;
                        }

                        @include mQ(992px) {
                            width: 100%;
                            padding-right: 10px;
                        }

                    }
                }
            }

            .inner-box {

                backdrop-filter: blur(10px);
                padding: 15px;
                background-color: rgba(255, 255, 255, 0.1);
                @extend %anim;

                @include mQ(850px) {
                    backdrop-filter: none;
                    padding: 0px;
                    background-color: transparent;
                }

            }

        }

        .page-footer,
        .top-nav-collapse {
            background-color: #1C2331
        }

        @media only screen and (max-width:768px) {
            .navbar {
                background-color: #1C2331
            }
        }
    }







    .main-box {

        .top-title {
            h4 {
                font-weight: bold;

                span {
                    border-bottom: 3px solid #195EC8;
                }
            }
        }

        .kom-box {
            // background-color: red;
            display: flex;

            .left-box {
                width: 70px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

            .right-box {
                width: 100%;



                .top-box {
                    display: flex;
                    justify-content: space-between;
                    line-height: 100%;

                    div {
                        margin-right: 10px;

                        p {
                            padding: 0;
                            margin: 0;
                        }

                        a {
                            font-size: 14px;
                            text-decoration: none;
                            padding: 0;

                            // color: black;
                            font-weight: bold;
                            @extend %anim;



                        }

                        .under-right {
                            display: flex;

                            a {
                                margin-left: 20px;
                            }

                            a:last-child {
                                color: white;
                            }
                        }
                    }

                    .person-info {
                        p {
                            font-size: 14px;
                            padding: 0;
                            margin: 0;
                            font-weight: bold;
                        }

                        small {
                            color: grey;
                            font-size: 12px;
                        }
                    }

                }

                .kom-data {


                    input {
                        width: 80%;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        padding: 10px;
                        border-bottom: 2px solid lightgrey;
                        outline: none;
                        font-size: 14px;

                        @media screen and (max-width:768px) {
                            width: 100%;
                        }
                    }

                    p {
                        font-size: 14px;
                    }
                }

            }

        }


        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 25%);
            justify-content: space-between;
            grid-gap: 10px;

            .grid-item {
                background-color: red;
                color: white;

            }

            .item1,
            .item11 {
                grid-column: 1/3;

            }

            .item2,
            .item12 {
                grid-column: 3/5;
            }
        }

    }








    .footer {

        .one {
            img {
                width: 100px;
                height: auto;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
            }

            p {
                i {
                    font-size: 30px;
                    padding-right: 10px;
                }
            }

            ul {
                list-style-type: none;
                display: flex;
                padding: 0;
                margin: 0;

                @include mQ(992px) {

                    justify-content: center;
                }

                li {
                    margin-right: 20px;
                    margin-top: 10px;

                    @include mQ(992px) {
                        margin: 20px;
                    }

                    a {
                        width: 100px;
                        height: 100px;
                        padding: 10px 12px;
                        border-radius: 50%;
                        border: 1px solid #195EC8;
                        @extend %anim;
                        color: #195EC8;

                        &:hover {

                            color: white;
                            background-color: #195EC8;
                        }
                    }
                }
            }
        }

        .two {
            h5 {
                font-weight: bolder;
            }

            ul {
                padding-left: 10px;

                li {
                    @include mQ(992px) {
                        display: flex;
                        justify-content: center;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        align-content: center;

                        div {
                            background-color: #195EC8;
                            height: 2px;
                            width: 20px;
                            margin-right: 10px;

                        }

                        p {
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .three {
            h5 {
                font-weight: bolder;


            }

            ul {
                padding-left: 10px;

                li.last {
                    display: flex;
                    justify-content: flex-start;

                    @include mQ(992px) {
                        justify-content: center;
                        ;
                    }

                    a {


                        img {
                            height: 30px;
                            width: auto;
                        }
                    }
                }
            }
        }

        .under-footer {


            p {
                padding: 0;
                margin: 0;
                color: grey;
            }

        }
    }




}